.app__project-container {
  display: flex;
}
.app__project-container-content {
  display: grid;
  width: 110%; /* Increase width to make the box wider */
  max-width: 600px; /* Set a maximum width to prevent excessive stretching */
  border: 1px solid #ccc; /* Set border width and color */
  border-radius: 10px; /* Set border radius to create curved corners */
  padding: 20px; /* Add padding to the element */
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.app__project-container-content_dets p {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  margin-top: 20px;
  letter-spacing: 1px;
}

.app__project-container-content h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

.app_projects-container img {
  border-radius: 8px;
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}
.app__project-container-content h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__project-container-img {
  display: flex;
  flex-direction: column;
  width: 300px;
}

@media screen and (max-width: 700px) {
  .app__project {
      padding: 2rem 4rem;
      display: flex;
      
  }

  .app__project-content{
      display: flex;
      flex-direction: column;

  }

 
}
@media screen and (max-width: 550px) {
  .app__project {
      padding: 2rem 4rem;
      display: flex;
      
  }

  .app__project-content{
      flex-direction: column;
      display: flex;

  }



}
